# Configuration file
# Generated on 1/8/12 2:00 AM

###########
# General #
###########

general {
   # 


   # change to 'entity.cart.tank=0' to disable
   entity.cart.bore=131
   # 


   #
   entity.cart.chest=119
   # 


   #
   entity.cart.steam=129
   # 


   # change to 'entity.cart.tank=0' to disable 
   # if Buildcraft is not detected there will be no recipe to make the cart
   entity.cart.tank=126
   # 


   # change to 'entity.cart.tnt=0' to disable
   entity.cart.tnt=125
   # 


   # change 'net.entity.cart.bore' only if minecraft crashes with an error complaining about network entity ids (2 - 255)
   net.entity.cart.bore=124
   # 


   # change 'net.entity.cart.chest' only if minecraft crashes with an error complaining about network entity ids (2 - 255)
   net.entity.cart.chest=120
   # 


   # change 'net.entity.cart.steam' only if minecraft crashes with an error complaining about network entity ids (2 - 255)
   net.entity.cart.steam=121
   # 


   # change 'net.entity.cart.tank' only if minecraft crashes with an error complaining about network entity ids (2 - 255)
   net.entity.cart.tank=123
   # 


   # change 'net.entity.cart.tnt' only if minecraft crashes with an error complaining about network entity ids (2 - 255)
   net.entity.cart.tnt=122
   # 


   # change 'net.gui.cart.bore' only if you think you have a conflict in SMP when opening GUIs
   net.gui.cart.bore=120
   # 


   # change 'net.gui.detector.tank' only if you think you have a conflict in SMP when opening GUIs
   net.gui.detector.tank=118
   # 


   # change 'net.gui.unloader.liquid' only if you think you have a conflict in SMP when opening GUIs
   net.gui.unloader.liquid=117
   # 


   # change 'net.gui.utility.coke.oven' only if you think you have a conflict in SMP when opening GUIs
   net.gui.utility.coke.oven=116
   # 


   # change 'net.gui.utility.minecart.dispenser' only if you think you have a conflict in SMP when opening GUIs
   net.gui.utility.minecart.dispenser=119
   # 


   # change to 'register.handler.collision=false' to use a minecart collision handler from a different mod or vanilla behavior
   register.handler.collision=true
   # 


   # change to 'tweaks.creosote.enableFurnaceRecipes=true' to add smelting recipes for Creosote Oil to the vanilla furnace
   tweaks.creosote.enableFurnaceRecipes=false
   # 


   # add block ids to 'tweaks.minecarts.bore.mineableBlocks' in a common seperated list to define non-vanilla blocks mineable by the tunnel bore 
   # Example:tweaks.minecarts.bore.mineableBlocks= { 123, 134 }
   tweaks.minecarts.bore.mineableBlocks={140, 141, 142, 177, 198, 199, 200, 247, 248, 249, 250}
   # 


   # change to 'tweaks.minecarts.breakOnDrop=true' to restore vanilla behavior
   tweaks.minecarts.breakOnDrop=false
   # 


   # change to 'tweaks.minecarts.collideWithItems=true' to restore minecart collisions with dropped items, ignored if 'register.handler.collision=false'
   tweaks.minecarts.collideWithItems=false
   # 


   # change to 'tweaks.minecarts.highspeed.collideWithItems=false' to prevent minecart collisions with dropped items at high speed, ignored if 'register.handler.collision=false'
   tweaks.minecarts.highspeed.collideWithItems=true
   # 


   # change the value to your desired minecart stack size, vanilla=1, default=3, max=64
   tweaks.minecarts.maxStackSize=3
   # 


   # change the value to your desired Tank Cart capacity in buckets, min=1, default=8, max=25, ignored if 'tweaks.minecarts.tank.useCustomValues=false'
   tweaks.minecarts.tank.capacity=8
   # 


   # change the value to your desired Tank Cart fill rate in milli-buckets per tick, min=5, default=14, max=30 
   # there are 1000 milli-buckets in a bucket, ignored if 'tweaks.minecarts.tank.useCustomValues=false'
   tweaks.minecarts.tank.fillrate=14
   # 


   # change to 'tweaks.minecarts.tank.useCustomValues=true' to adjust the Tank Cart's capacity and fill rate
   tweaks.minecarts.tank.useCustomValues=false
   # 


   # change the value to your desired max launch rail force, min=5, default=30, max=50
   tweaks.rails.launch.force.max=30
   # 


   # change to 'tweaks.rails.useOldRecipes=true' to use sticks instead of railbeds
   tweaks.rails.useOldRecipes=false
   # 


   # change to 'tweaks.signals.printDebug=true' to log debug info for Signal Blocks
   tweaks.signals.printDebug=false
   # 


   # set the minimum number of seconds between cart dispensing, default=0
   tweaks.utility.cart.dispenser.delay=0
}

#########
# Block #
#########

block {
   # 


   # change to 'block.detector=0' to disable, loader/unloader recipe will use pressure plates instead of detectors
   block.detector=206
   # 


   # change to 'block.structure=0' to disable, this will disable ALL added structures 
   # to disable individual structures, see the item section below
   block.structure=207
   # 


   # change to 'block.utility=0' to disable, this will disable ALL Loaders, Dispenser, Coke Oven, etc... 
   # to disable individual utility blocks, see the item section below
   block.utility=208
   # 


   # change to 'rail.advanced=0' to disable, this will disable ALL added rails except the elevator rail 
   # to disable individual rails, see the item section below
   rail.advanced=209
   # 


   # change to 'rail.elevator=0' to disable
   rail.elevator=210
}

########
# Item #
########

item {
   # 


   # ignored if 'entity.cart.bore=0'
   cart.bore=7047
   # 


   # ignored if 'entity.cart.bore=0'
   cart.bore.head.diamond=7048
   # 


   # ignored if 'entity.cart.bore=0'
   cart.bore.head.iron=7049
   # 


   # ignored if 'entity.cart.tank=0'
   cart.tank=7046
   # 


   # ignored if 'entity.cart.tnt=0'
   cart.tnt=7045
   # 


   #
   item.circuit.controller=7005
   # 


   #
   item.circuit.receiver=7006
   # 


   # change to 'item.coke=0' to disable
   item.coke=7007
   # 


   # change to 'item.creosote=0' to disable, cactus green will be used in its place
   item.creosote=7003
   # 


   # change to 'item.crowbar=0' to disable
   item.crowbar=7000
   # 


   #
   item.lamp=7004
   # 


   # change to 'item.signal.tuner=0' to disable
   item.signal.tuner=7002
   # 


   # change to 'item.surveyor=0' to disable
   item.surveyor=7001
   # 


   # change to 'rail.boarding=0' to disable
   rail.boarding=7014
   # 


   # change to 'rail.control=0' to disable
   rail.control=7017
   # 


   # change to 'rail.holding=0' to disable
   rail.holding=7015
   # 


   # change to 'rail.junction=0' to disable
   rail.junction=7012
   # 


   # change to 'rail.launcher=0' to disable
   rail.launcher=7018
   # 


   # change to 'rail.oneway=0' to disable
   rail.oneway=7016
   # 


   # change to 'rail.priming=0' to disable
   rail.priming=7019
   # 


   # ignored if 'tweaks.rails.useOldRecipes=true'
   rail.roadbed.stone=7011
   # 


   # ignored if 'tweaks.rails.useOldRecipes=true'
   rail.roadbed.wood=7010
   # 


   # change to 'rail.slow=0' to disable
   rail.slow=7020
   # 


   # change to 'rail.slow.booster=0' to disable
   rail.slow.booster=7021
   # 


   # change to 'rail.slow.junction=0' to disable
   rail.slow.junction=7022
   # 


   # change to 'rail.slow.switch=0' to disable
   rail.slow.switch=7023
   # 


   # change to 'rail.speed=0' to disable
   rail.speed=7024
   # 


   # change to 'rail.speed.boost=0' to disable
   rail.speed.boost=7026
   # 


   # change to 'rail.speed.switch=0' to disable
   rail.speed.switch=7025
   # 


   # change to 'rail.speed.transition=0' to disable
   rail.speed.transition=7027
   # 


   # change to 'rail.switch=0' to disable
   rail.switch=7013
   # 


   #
   rail.tie.stone=7009
   # 


   #
   rail.tie.wood=7008
   # 


   # change to 'structure.block.concrete=0' to disable
   structure.block.concrete=7031
   # 


   # change to 'structure.box.controller=0' to disable
   structure.box.controller=7036
   # 


   # change to 'structure.box.receiver=0' to disable
   structure.box.receiver=7035
   # 


   # change to 'structure.post.iron=0' to disable
   structure.post.iron=7028
   # 


   # change to 'structure.post.stone=0' to disable
   structure.post.stone=7030
   # 


   # change to 'structure.post.wood=0' to disable
   structure.post.wood=7029
   # 


   # change to 'structure.signal.block=0' to disable
   structure.signal.block=7032
   # 


   # change to 'structure.signal.block.dual=0' to disable
   structure.signal.block.dual=7033
   # 


   # change to 'structure.switch.motor=0' to disable
   structure.switch.motor=7034
   # 


   # change to 'utility.coke.oven=0' to disable
   utility.coke.oven=7044
   # 


   # change to 'utility.loader.item=0' to disable
   utility.loader.item=7037
   # 


   # change to 'utility.loader.item.advanced=0' to disable
   utility.loader.item.advanced=7038
   # 


   # change to 'utility.loader.liquid=0' to disable
   utility.loader.liquid=7041
   # 


   # change to 'utility.minecart.dispenser=0' to disable
   utility.minecart.dispenser=7043
   # 


   # change to 'utility.unloader.item=0' to disable
   utility.unloader.item=7039
   # 


   # change to 'utility.unloader.item.advanced=0' to disable
   utility.unloader.item.advanced=7040
   # 


   # change to 'utility.unloader.liquid=0' to disable
   utility.unloader.liquid=7042
}

