#ModLoader Config
#Fri Sep 30 20:08:22 EDT 2011
mod_BuildCraftCore=on
mod_Pfaeff=on
mod_WirelessRedstone=on
mod_IC2_AdvMachine=on
mod_BuildCraftTransport=on
mod_BuildCraftEnergy=on
mod_Allocator=on
mod_Somnia=on
mod_TeleportPipe=on
mod_IC2EqEx=on
mod_Fan=on
mod_BuildCraftBuilders=on
mod_SdkFlasher=on
mod_SdkUtility=on
mod_treecapitator=on
mod_IC2=on
mod_Zeppelin=on
mod_ExtraBuildcraftPipes=on
mod_RedPowerLogic=on
loggingLevel=FINER
mod_BuildCraftFactory=on
mod_MAtmos=on
grassFix=true
mod_Millenaire=on
mod_SdkFps=off
mod_MineFactory=on
mod_RedPowerCore=on
mod_RedPowerWiring=on
mod_EE=on
mod_MAtmosphere=on
mod_SdkGuns=on
mod_rope=on
mod_PowerSystems=on
mod_SdkGrapplingHook=off
mod_RedstonePipe=on
mod_RecipeBook=on
mod_RedPowerArray=on
mod_ReiMinimap=on
mod_mocreatures=on
mod_RedPowerLighting=on
